---
layout: default
prism: true
---

<div class="max-w-screen-lg mx-auto mt-0 lg:px-0 px-6">

    <div class="mx-auto max-w-screen-md py-16 pb-8">
        <div class="grid grid-cols-2 items-center">
          <h2 class="text-4xl lg:text-5xl text-left lg:text-center col-span-2 z-10 font-extrabold leading-snug lg:leading-normal tracking-wide lg:tracking-widest">{{title}}</h2>
          <div  style="background-image: url({{ image }});" class="bg-no-repeat bg-cover bg-center bg-gray-200 col-span-2 mt-4 rounded h-80 {{ image_position }}"></div>
            <span class="inline mt-4 mx-auto col-span-2  items-center px-3 py-0.5 rounded-full text-sm font-medium text-pink-500">
                <time>Published on {{ date | readableDate }}</time>
            </span>
            <div class="flex items-center space-x-2 mt-4">
              {%- for tag in tags | filterTagList -%}
              {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
                <a href="{{ tagUrl | url }}">
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-indigo-100 text-indigo-800">
                  <svg class="-ml-0.5 mr-1.5 h-2 w-2 text-indigo-400" fill="currentColor" viewBox="0 0 8 8">
                    <circle cx="4" cy="4" r="3" />
                  </svg>
                  {{ tag }}
                </span>
                </a>
              {%- endfor %}
            </div>
          </div>
      </div>

    <article class="mx-auto max-w-screen-md mt-8">
        <div class="mt-8 prose mx-auto max-w-screen-md lg:prose-xl">
        {{ content | safe }}
        </div>
    </article>

</div>