<footer class="p-10 footer bg-base-200 text-base-content footer-center">
  <div class="grid grid-flow-col gap-4">
    <a href="/" class="link link-hover">Work</a> 
    <a href="/about" class="link link-hover">About</a> 
    <a href="/blog" class="link link-hover">Blog</a> 
    <a href="/contact" class="link link-hover">Contact me</a>
  </div> 
  <div>
    <div class="grid grid-flow-col gap-4">
      <a href="https://social.coop/@bernini" target="blank">
      <img alt="mastodon logo" class="w-6 h-6" src="/static/img/masto.svg" />
      <span class="sr-only">mastodon</span>
      </a>
     
      <a href="https://github.com/ivanminutillo" target="blank">
        <img alt="github logo" class="w-6 h-6" src="/static/img/git.png" />
        <span class="sr-only">github</span>
      </a> 
    </div>
  </div> 
</footer>